body {
    margin: 0px;
    background-color: rgb(158, 88, 172);
    font-family: Lexend;
    overflow-x: hidden;
}

a {
    color: rgb(21, 255, 0);
    text-decoration: none;
}

a:hover {
    color: rgb(15, 175, 0);
}

code {
    background-color: white;
    color: black;
    padding: 3px;
    font-size: 1.5em;
    border-radius: 10px;
}

li {
    margin-bottom: 20px;
}

#headCenter {
    position: relative;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
    background-color: rgb(252, 210, 161);
    width: 100vw;
}

#logo {
    margin: 10px;
    height: 150px;
}


#menu {
    width: fit-content;
    margin-right: 30px;
    border: 2.5px solid rgb(0, 0, 0);
    border-radius: 3px;
    background-color: rgb(255, 201, 140);
}

.menuElement {
    border: 3px solid rgb(180, 143, 95);
    border-radius: 2px;
    background-color: rgb(255, 219, 178);
    padding: 3px;
    margin: 7px;
    overflow-wrap: break-word;
}

.menuElement:hover {
    background-color: rgb(255, 231, 203);
    cursor: pointer;
}

#toggleButt {
    position: relative;
    font-family: Lexend;
    font-size: 1.5em;
    background-color: white;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 5px;
}

#menuContainer {
    float: left;
    margin-right: 20px;
}

#pageContent {
    margin-left: 13%;
    font-size: 1.8em;
    color: white;
    width: fit-content;
    padding: 10px;
    height: fit-content;
    overflow-wrap: break-word;
}
